<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <title>Kona Initializr</title>
    <link th:href="@{/bootstrap/css/bootstrap.css}" type="text/css" rel="stylesheet"/>
    <link rel="stylesheet" href="resources/templates/main.css">
    <script th:inline="javascript" type="text/javascript" th:src="@{/js/main.js}"></script>
</head>
<body style="overflow-x: hidden; margin: 0px;">
<!--가장 밖-->
<div id="app" style="display: grid; place-items: center; width: 100%; height: 100%">
    <div id="main" style="display: flex; flex-direction: column; width: 80%;">
        <header id="header" style="flex-grow: 1;">
            <h1 class="logo">
                <a href="/">
                    <span class="logo-content" tabindex="-1">
                        Kona Initializr
                    </span>
                </a>
            </h1>
        </header>

        <hr class="divider">

        <div  autocomplete="off" role="form" action="#" method="post"
              style="border: solid; flex-grow: 9; display: flex; flex-direction: column; height: 80%;">
            <div class="colset colset-main" style="flex-grow: 9; border-bottom: solid; height: 70vh;">
                <div class="left" style="width: 50%; height: 60%; float: left;">
                    <div class="col-sticky" style="width: 100%; height: 100%; display: flex; flex-direction: column">
                        <div class="colset" style="border-bottom: solid; flex-grow: 2; margin-left: 10px; margin-right: 10px; margin-top: 10px; padding-bottom: 10px;">
                            <div class="left" style="width: 50%; float: left; " >
                                <div class="control">
                                    <label class="label" style="font-weight: bolder; font-size: 20px;">Project</label>
                                    <div class="control-element" id="input-buildTool" style="margin-top: 10px;">Gradle(4.10.2) Project</div>
                                </div>
                            </div>
                            <div class="right" style="width: 50%; float: right">
                                <div class="control">
                                    <label class="label" style="font-weight: bolder; font-size: 20px;">Language</label>
                                    <div class="control-element" style="margin-top: 10px;">
                                        <div class="group-radio" id="input-language" style="display: flex; flex-direction: row">
                                            <div>
                                                <input type="radio" id="langJava" value="langJava" name="language" checked>
                                                <label for="langJava">Java</label>
                                            </div>
                                            <div>
                                                <input type="radio" id="langKotlin" value="langKotlin" name="language">
                                                <label for="langKotlin">Kotlin</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="control" style="border-bottom: solid; flex-grow: 2; margin-left: 10px; margin-right: 10px; margin-top: 10px; padding-bottom: 10px;">
                            <label class="label" style="font-weight: bolder; font-size: 20px;">Spring Boot</label>
                            <div class="control-element" id="input-SBVersion" style="margin-top: 10px;">2.1.8</div>
                        </div>
                        <div class="control" style="flex-grow: 6; margin-left: 10px; margin-right: 10px; margin-top: 10px;">
                            <label class="label" style="font-weight: bolder; font-size: 20px;">Project Metadata</label>
                            <div class="control-element" style="margin-top: 20px;">
                                <div class="control control-inline" style="display: flex; margin-bottom: 30px;">
                                    <label for="input-group" style="white-space: nowrap; font-weight: 500; flex-grow: 0; flex-shrink: 1; flex-basis: 110px; text-align: right">Group</label>
                                    <input type="text" th:value="${data.group}" id="input-group" class="input" placeholder="com.example" style="margin-left: 1.3rem; font-weight: 300; flex-grow: 1; flex-shrink: 1; flex-basis: 0%; ">
                                </div>
                                <div class="control control-inline" style="display: flex; margin-bottom: 30px;">
                                    <label for="input-group" style="white-space: nowrap; font-weight: 500; flex-grow: 0; flex-shrink: 1; flex-basis: 110px; text-align: right">Artifact</label>
                                    <input type="text" th:value="${data.artifact}" id="input-artifact" class="input" placeholder="demo" style="margin-left: 1.3rem; font-weight: 300; flex-grow: 1; flex-shrink: 1; flex-basis: 0%; ">
                                </div>
                                <div class="control control-inline" style="display: flex; margin-bottom: 30px;">
                                    <label for="input-group" style="white-space: nowrap; font-weight: 500; flex-grow: 0; flex-shrink: 1; flex-basis: 110px; text-align: right">Name</label>
                                    <input type="text" th:value="${data.name}" id="input-name" class="input" placeholder="demo" style="margin-left: 1.3rem; font-weight: 300; flex-grow: 1; flex-shrink: 1; flex-basis: 0%; ">
                                </div>
                                <div class="control control-inline" style="display: flex; margin-bottom: 30px;">
                                    <label for="input-group" style="white-space: nowrap; font-weight: 500; flex-grow: 0; flex-shrink: 1; flex-basis: 110px; text-align: right">Description</label>
                                    <input type="text" th:value="${data.description}" id="input-description" class="input" value="Demo project for Spring Boot" style="margin-left: 1.3rem; font-weight: 300; flex-grow: 1; flex-shrink: 1; flex-basis: 0%; ">
                                </div>
                                <div class="control control-inline" style="display: flex; margin-bottom: 30px;">
                                    <label for="input-group" style="white-space: nowrap; font-weight: 500; flex-grow: 0; flex-shrink: 1; flex-basis: 110px; text-align: right">Package</label>
                                    <input type="text" th:value="${data.fullPackage}" id="input-package" class="input" value="com.example.demo" style="margin-left: 1.3rem; font-weight: 300; flex-grow: 1; flex-shrink: 1; flex-basis: 0%; ">
                                </div>
                                <div class="control control-inline" style="display: flex; margin-bottom: 30px;">
                                    <label style="white-space: nowrap; font-weight: 500; flex-grow: 0; flex-shrink: 1; flex-basis: 110px; text-align: right">Packaging</label>
                                    <label class="group-radio" id="input-packaging" style="margin-left: 1.3rem; font-weight: 300; flex-grow: 1; flex-shrink: 1; flex-basis: 0%; ">Jar</label>
                                </div>
                                <div class="control control-inline" style="display: flex; margin-bottom: 30px;">
                                    <label style="white-space: nowrap; font-weight: 500; flex-grow: 0; flex-shrink: 1; flex-basis: 110px; text-align: right">Java</label>
                                    <label class="group-radio" id="input-javaVersion" style="margin-left: 1.3rem; font-weight: 300; flex-grow: 1; flex-shrink: 1; flex-basis: 0%; ">8</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="right" style="width: 49%; height: 100%; float: right; display: flex; flex-direction: column; border-left: solid">
                    <div class="control" style="flex-grow: 0.3; margin: 10px; display: table">
                        <div class="dependency-header" style="display: table-cell; vertical-align: middle">
                            <span class="label" style="float: left; margin-top: 10px; font-weight: bolder; font-size: 20px;">Dependencies</span>
                            <button class="button" type="button" id="explore-dependencies" style="float:right; margin-top: 10px;">
                                <span>Add</span>
                            </button>
                        </div>
                    </div>
                    <div class="dependencyList" id="input-dependencyList" style="flex-grow: 9.7; border-top: solid; margin: 15px; padding-top: 20px; font-style: oblique">No dependency selected</div>
                </div>
            </div>

            <div class="actions" style="flex-grow: 1">
                <div class="actions-container" style="text-align: center; margin: 20px;">
                    <button class="button primary" id="generate-project" onclick="generate()">
                        <span class="button-content" tabindex="-1">
                            <span>GENERATE</span>
                        </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/bootstrap/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/bootstrap/js/popper.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.js}"></script>
</body>
</html>