<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Kona Initializr</title>
    <link th:href="@{/bootstrap/css/bootstrap.css}" type="text/css" rel="stylesheet"/>
</head>
<body style="overflow-x: hidden; margin: 0px;">
<!--가장 밖-->
<div id="app" style="display: grid; place-items: center; width: 100%; height: 100%">
    <!-- 여기서는 세로로 1:9? 정도로 나누고-->
    <div id="main" style="display: flex; flex-direction: column; width: 80%;">
        <header id="header" style="flex-grow: 1;">
            <h1 class="logo">
                <a href="/">
                    <span class="logo-content" tabindex="-1">
                        Kona Initializr
                    </span>
                </a>
            </h1>
        </header>

        <hr class="divider">

        <form class="form" autocomplete="off"
              style="border: solid; flex-grow: 9; display: flex; flex-direction: column; height: 80%;">
            <div class="colset colset-main" style="flex-grow: 9; border-bottom: solid; height: 70vh;">
                <div class="left" style="width: 50%; height: 60%; float: left;">
                    <div class="col-sticky" style="width: 100%; height: 100%; display: flex; flex-direction: column">
                        <div class="colset" style="border-bottom: solid; flex-grow: 2; margin-left: 10px; margin-right: 10px; margin-top: 10px; padding-bottom: 10px;">
                            <div class="left" style="width: 50%; float: left; " >
                                <div class="control">
                                    <label class="label" style="font-weight: bolder; font-size: 20px;">Project</label>
                                    <div class="control-element" style="margin-top: 10px;">Gradle Project</div>
                                </div>
                            </div>
                            <div class="right" style="width: 50%; float: right">
                                <div class="control">
                                    <label class="label" style="font-weight: bolder">Language</label>
                                    <div class="control-element" style="margin-top: 10px;">
                                        <div class="group-radio">
                                            <a href="/" class="radio checked">
                                                <span class="caret" tabindex="-1"></span>
                                                <span class="radio-content" tabindex="-1">Java</span>
                                            </a>
                                            <a href="/" class="radio ">
                                                <span class="caret" tabindex="-1"></span>
                                                <span class="radio-content" tabindex="-1">Kotlin</span>
                                            </a>
                                            <a href="/" class="radio ">
                                                <span class="caret" tabindex="-1"></span>
                                                <span class="radio-content" tabindex="-1">Groovy</span>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="control" style="border-bottom: solid; flex-grow: 2; margin-left: 10px; margin-right: 10px; margin-top: 10px; padding-bottom: 10px;">
                            <label class="label" style="font-weight: bolder">Spring Boot</label>
                            <div class="control-element" style="margin-top: 10px;">
                                <div class="group-radio">
                                    <a href="/" class="radio ">
                                        <span class="caret" tabindex="-1"></span>
                                        <span class="radio-content" tabindex="-1">2.1.8</span>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="control" style="flex-grow: 6; margin-left: 10px; margin-right: 10px; margin-top: 10px;">
                            <label class="label" style="font-weight: bolder">Project Metadata</label>
                            <div class="control-element" style="margin-top: 20px;">
                                <div class="control control-inline" style="margin-bottom: 10px; display: flex; flex-direction: row-reverse;">
                                    <input type="text" id="input-group" class="input" value="com.example" style="float: right; width: 70%; margin-left: 10px;">
                                    <label for="input-group" style="font-weight: bold; text-align: right">Group</label>
                                </div>
                                <div class="control control-inline" style="margin-bottom: 10px; display: flex; flex-direction: row-reverse;">
                                    <input type="text" id="input-artifact" class="input" value="demo" style="float: right; width: 70%; margin-left: 10px;">
                                    <label for="input-artifact" style="font-weight: bold">Artifact</label>
                                </div>
                                <div class="control control-inline" style="margin-bottom: 10px; display: flex; flex-direction: row-reverse;">
                                    <input type="text" id="input-name" class="input" value="demo" style="float: right; width: 70%; margin-left: 10px;">
                                    <label for="input-name" style="font-weight: bold">Name</label>
                                </div>
                                <div class="control control-inline" style="margin-bottom: 10px; display: flex; flex-direction: row-reverse;">
                                    <input type="text" id="input-description" class="input" value="Demo project for Spring Boot" style="float: right; width: 70%; margin-left: 10px;">
                                    <label for="input-description" style="font-weight: bold">Description</label>
                                </div>
                                <div class="control control-inline" style="margin-bottom: 10px; display: flex; flex-direction: row-reverse;">
                                    <input type="text" id="input-packageName" class="input" value="com.example.demo" style="float: right; width: 70%; margin-left: 10px;">
                                    <label for="input-packageName" style="font-weight: bold">Package</label>
                                </div>
                                <div class="control control-inline" style="margin-top: 20px; display: flex; flex-direction: row-reverse;">
                                    <div class="group-radio" style="margin-left: 10px; float: right; width: 70%;">
                                        <a href="/" class="radio checked">
                                            <span class="caret" tabindex="-1"></span>
                                            <span class="radio-content" tabindex="-1">Jar</span>
                                        </a>
                                        <a href="/" class="radio ">
                                            <span class="caret" tabindex="-1"></span>
                                            <span class="radio-content" tabindex="-1">War</span>
                                        </a>
                                    </div>
                                    <label style="font-weight: bold;">Packaging</label>
                                </div>
                                <div class="control control-inline" style="margin-top: 20px; display: flex; flex-direction: row-reverse;">
                                    <div class="group-radio" style="margin-left: 10px; float: right; width: 70%;">
                                        <a href="/" class="radio checked">
                                            <span class="caret" tabindex="-1"></span>
                                            <span class="radio-content" tabindex="-1">8</span>
                                        </a>
                                    </div>
                                    <label style="font-weight: bold;">Java</label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- 마진 작업을 해주면 fancy한 선을 그을 수 있을 것 같은 예감이 든다 -->
                <div class="right" style="width: 49%; height: 100%; float: right; display: flex; flex-direction: column; border-left: solid">
                    <div class="control" style="flex-grow: 0.3; margin: 10px; display: table">
                        <div class="dependency-header" style="display: table-cell; vertical-align: middle">
                            <span class="label" style="float: left; margin-top: 10px; font-weight: bolder">Dependencies</span>
                            <button class="button" type="button" id="explore-dependencies" style="float:right; margin-top: 10px;">
                                <span>Add</span>
                            </button>
                        </div>
                    </div>
                    <div class="dependencyList" style="flex-grow: 9.7; border-top: solid; margin: 15px; padding-top: 20px; font-style: oblique">No dependency selected</div>
                </div>
            </div>

            <div class="actions" style="flex-grow: 1">
                <div class="actions-container" style="text-align: center; margin: 20px;">
                    <button class="button primary" type="button" id="generate-project">
                        <span class="button-content" tabindex="-1">
                            <span>GENERATE</span>
                        </span>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script th:src="@{/bootstrap/js/jquery-3.6.0.min.js}"></script>
<script th:src="@{/bootstrap/js/popper.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.js}"></script>
</body>
</html>